// light theme colors; includes light green and purple

$flexBoxColorGreen:rgba(200, 247, 197, 1);
$flexBoxColorPurple: rgba(190, 144, 212,1);

// theme colors for dark green and purple

$navBarColorDGreen: rgba(30, 130, 76, 1);
$navBarColorDPurple: rgba(103, 65, 114, 1);

$flexBoxColorDGreen: rgba(0, 177, 106, 1);
$flexBoxColorDPurple: rgba(102, 51, 153, 1);

// fonts used for templates

$flexBoxFontHeader: 'Righteous', cursive;
$flexBoxFontText: 'Open Sans', sans-serif;

//breakpoint for media distinctions

$minPhone-width: 425px;
$tablet: 768px;
$desktop-width: 1024px;

// @media (max-width: 1024px) {
//     nav { 
//         ul {
//             li a {
//                 font-size: 30px;
//             }
//         }
//     }
//     .jumboHeading {
//         h1 {
//         font-size: 55px;
//         }
//         h2 {
//             font-size: 35px;
//         }
//     }
//     .container-1, .container-2, .container-3 {
//         flex-direction: column;
//         justify-content: space-evenly;
//     } .card {
//         flex-basis: 30%;
//     }
// }

// @media (max-width: 800px) {
//     nav { 
//         ul {
//             li a {
//                 font-size: 20px;
//             }
//         }
//     }
//     .jumboHeading {
//         h1 {
//         font-size: 55px;
//         }
//         h2 {
//             font-size: 35px;
//         }
//     }
//     .container-1, .container-2, .container-3 {
//         flex-direction: column;
//         justify-content: space-evenly;
//     } .card {
//         flex-basis: 30%;
//     }
// }