// light theme colors; includes light green and purple

$flexBoxColorGreen:rgba(200, 247, 197, 1);
$flexBoxColorPurple: rgba(190, 144, 212,1);

// theme colors for dark green and purple

$navBarColorDGreen: rgba(30, 130, 76, 1);
$navBarColorDPurple: rgba(103, 65, 114, 1);

$flexBoxColorDGreen: rgba(0, 177, 106, 1);
$flexBoxColorDPurple: rgba(102, 51, 153, 1);

// fonts used for templates

$flexBoxFontHeader: 'Righteous', cursive;
$flexBoxFontText: 'Open Sans', sans-serif;

//breakpoint for media sizing

$minPhone-width: 319px;
$tablet: 800px;
$desktop-width: 1024px;
