// light theme colors; includes light green and purple

$flexBoxColorGreen:rgba(200, 247, 197, 1);
$flexBoxColorPurple: rgba(190, 144, 212,1);

//dark theme colors; includes blue and yellow

$flexBoxColorBlue: rgba(1, 50, 67, 1);
$flexBoxColorYellow: rgba(244, 208, 63, 1);

// fonts used for templates

$flexBoxFontHeader: 'Righteous', cursive;
$flexBoxFontText: 'Open Sans', sans-serif;

//breakpoint for media sizing

$minPhone-width: 319px;
$tablet: 800px;
