
//Mixin used to update sizing of flexBox that will
//contain the products to be sold. #Light
@mixin flexBox {
    background-color: $flexBoxColorPurple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
}

//Mixin used to update sizing of flexBox that will
//contain the products to be sold. #Dark
@mixin flexBoxD {
    background-color: $flexBoxColorBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
}


//Mixin used for navigation bar
//#Light
@mixin navBar {
    top: 0px;
    background: $flexBoxColorPurple;
    font-family: 'Righteous', cursive;
    padding: 5px;
}

//Mixin used for navigation bar
//#Dark
@mixin navBarD {
    top: 0px;
    background: $flexBoxColorBlue;
    font-family: 'Righteous', cursive;
    padding: 5px;
}

//Mixin used to update list view of navBar
@mixin uListNav {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}

//Mixin is a continuation of uListNav mixin
//focuses on appearance of individual elements
//#Light
@mixin lItemNav {
    color: $flexBoxColorGreen;
    text-align: center;
    display: inline;
    padding: 7px 12px;
    font-size: 35px;
    border-right: 2px solid black;
}

//Mixin is a continuation of uListNav mixin
//focuses on appearance of individual elements
//#Dark
@mixin lItemNavD {
    color: $flexBoxColorYellow;
    text-align: center;
    display: inline;
    padding: 7px 12px;
    font-size: 35px;
    border-right: 2px solid black;
}

//Mixin used to update the card element's 
//settings, appearance, dimensions, etc.
//Where individual products will be presented.
//#Light
@mixin cards {
    flex-basis: 30%;
    border: solid 4px black;
    background-color: $flexBoxColorGreen;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

//Mixin used to update the card element's 
//settings, appearance, dimensions, etc.
//Where individual products will be presented.
//#Dark
@mixin cardsD {
    flex-basis: 30%;
    border: solid 4px black;
    background-color: $flexBoxColorYellow;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

//mixin used to update the heading for 
//individual cards
//#Light
@mixin cardHeading {
    text-align: center;
    color: $flexBoxColorPurple;
    text-shadow: 0px 0px 30px white;
    font-family: $flexBoxFontHeader;
    font-weight: bold;
}

//mixin used to update the heading for 
//individual cards
//#Dark
@mixin cardHeadingD {
    text-align: center;
    color: $flexBoxColorBlue;
    text-shadow: 0px 0px 30px white;
    font-family: $flexBoxFontHeader;
    font-weight: bold;
}

//mixin used to update the contents inside
//each card.
@mixin cardText {
    text-align: center;
    font-family: $flexBoxFontText;
}

//used to update the 'purchase' button in 
//each card #Light
@mixin cardButtons {
    font-family: $flexBoxFontText;
    background-color: $flexBoxColorPurple;
    border: 4px solid white;
    border-radius: 4px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

//used to update the 'purchase' button in 
//each card #Dark
@mixin cardButtonsD {
    font-family: $flexBoxFontText;
    background-color: $flexBoxColorBlue;
    border: 4px solid white;
    border-radius: 4px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

//used to add styling to each image contained in
//every card.
@mixin prodImg {
    border: 5px solid white;
    border-radius: 5px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    height: auto;    
}

@mixin videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

@mixin prodVid {
    height: 284px;
    width: 450px;
}

//general use, border mixin.
@mixin paraBord {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//mixin used for jumbotron heading.
//contains the font, size, and alignment
//used for the jumbotron text and content.
@mixin heading {
    font-family: 'Righteous', cursive;
    text-shadow: 0px 0px 15px white;
    text-align: center;
    padding: 30px;
    font-size: 65px;
}

//used to style the image used in the
//background of the jumbotron.
@mixin headingImg {
    padding: 20px;
    background-image: url("../images/jumboBack.jpg");
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

//styling for the footer of the website
//#Light
@mixin footer {
    position: sticky;
    bottom: 0px;
    padding: 20px;
    background: $flexBoxColorGreen;    
}

//styling for the footer of the website
//#Dark
@mixin footerD {
    position: sticky;
    bottom: 0px;
    padding: 20px;
    background: $flexBoxColorYellow;    
}

//these final two mixins focus on responsiveness for
//certain elements in the website.

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: 1440px) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$minPhone-width}) and (max-width: #{$tablet}) {
        @content;
    }
}