@mixin flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@mixin cards {
    padding: 10px;
    border: 2px solid black;
    height: 30%;
    width: 30%;
    justify-content: center;
}

@mixin prodImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 300px;
}

@mixin bordRadius {
    border-radius: 15px;
}

@mixin paraBord {
    border-radius: 15px;
    border: black;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}

@mixin shadowLets {
    text-shadow: 5px 5px 5px grey;
}
