@import 'mixins';

@import '_colors_fonts_media';

nav {
    @include navBarD;
    ul {
        @include uListNav;
        li {
            @include lItemNavD;
             a {
                color: $flexBoxColorYellow;
                text-decoration: none;

                @include tablet {
                    font-size: 30px;
                }

                @include phone {
                    font-size: 20px;
                }
            }
        }
    }
}

.jumboHeading {
    @include heading;
    @include headingImg;
    padding: 15px;
    h1 {
        color: $flexBoxColorBlue;
        @include tablet {
            font-size: 55px;
        }
        @include phone {
            font-size: 55px;
        }
    }
}

.jumboHeading {
    h2 {
        color: $flexBoxColorYellow;
        @include tablet {
            font-size: 35px;
        }
        @include phone {
            font-size: 35px;
        }
    }
}

.recordsSec {
    background-image: linear-gradient($flexBoxColorYellow, $flexBoxColorBlue);
    padding: 20px;
        h1 {
            color: $flexBoxColorBlue;
            font-family: $flexBoxFontHeader;
            text-shadow: 0px 0px 5px white;
            text-align: center;
            font-size: 45px;
    }
}

.recordsSec {
        h2 {
            text-align: center;
            color: $flexBoxColorYellow;
            font-family: $flexBoxFontHeader;
            font-size: 35px;
        }
}

.container-1 {
    @include flexBoxD;
    @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include phone {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card {
        @include cardsD;
        .videoWrapper {
            @include videoWrapper;
        }
        iframe {
            @include prodVid;
        }
        }
    }


.container-1 {
    .card {
        h1 {
            @include cardHeadingD;
        }
    }
}
.container-1 {
    .card {
        p {
            @include cardText;
        }
    }
}

.container-1 {
    button {
        @include cardButtonsD;
    }
}

.container-2 {
    @include flexBoxD;
    @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include phone {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card {
        @include cardsD;
        .videoWrapper {
            @include videoWrapper;
        }
        iframe {
            @include prodVid;
        }
        }
    }


.container-2 {
    .card {
        h1 {
            padding: 10px;
            @include cardHeadingD;
        }
    }
}
.container-2 {
    .card {
        p {
            @include cardText;
        }
    }
}

.container-2 {
    button {
        @include cardButtonsD;
    }
}

.container-3 {
    @include flexBoxD;
    @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include phone {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card {
        @include cardsD;
        .videoWrapper {
            @include videoWrapper;
        }
        iframe {
            @include prodVid;
        }
        }
    }


.container-3 {
    .card {
        h1 {
            padding: 10px;
            @include cardHeadingD;
        }
    }
}
.container-3 {
    .card {
        p {
            @include cardText;
        }
    }
}

.container-3 {
    button {
        @include cardButtonsD;
    }
}

.aboutSec {
    padding: 20px;
    background-image: linear-gradient($flexBoxColorBlue, $flexBoxColorYellow);    
    h1 {
        @include cardHeadingD;
        color: $flexBoxColorYellow;
    }
}

.aboutSec {
    p {
        @include cardText;
        font-weight: bold;
    }
}

.contactSec {
    background: $flexBoxColorYellow;
    padding: 20px;
    h1 {
        @include cardHeadingD;
    }
}

.contactSec {
    background: $flexBoxColorYellow;
    p {
        @include cardText;
        font-weight: bold;
    }
}

footer {
    @include footerD;
    p {
        @include cardText;
        font-weight: bolder;
        text-shadow: 0px 0px 15px white;
    }
}