@import 'mixins';


$navbarColor: rgba(52, 152, 219, 1);
$jumboColor: rgba(254, 241, 96, 1);
$fontFam: 'Staatliches', cursive;
$fontFamMont: 'Montserrat', sans-serif;
$aboutColor: rgba(200, 247, 197, 1);
$footerColor: rgba(246, 36, 89, 1);

@mixin flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin bordRadius {
    border-radius: 15px;
}

@mixin paraBord {
    border-radius: 15px;
    border: black;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}

@mixin shadowLets {
    text-shadow: 5px 5px 5px grey;
}

nav {
    position: sticky;
    top: 0px;
    @include bordRadius();
    background: $navbarColor;
    font-family: $fontFam;
    padding: 5px;
    ul {
        list-style-type: none;
        text-align: center;
        overflow: hidden;
        }
    li {
        text-align: center;
        display: inline;
        padding: 7px 12px;
        font-size: 35px;
        border-right: 2px solid black;
        }
    li a{
        text-decoration: none;
        color: black;
    }
}

nav ul li:hover {
    @include shadowLets();
}

nav ul li a:link {
    text-decoration: none;
}
nav ul li a:visited {
    color: black;
    text-decoration: none;
}


.jumboHeading {
    @include bordRadius();
    text-align: center;
    background: $jumboColor;
    font-family: $fontFam;
    padding: 10px;
    font-size: 75px;
}

.about {
    @include bordRadius();
    background: $aboutColor;
    padding: 10px;
    h3 {
        font-family: $fontFam;
        text-align: center;
        font-size: 80px;
    }
    p {
        @include paraBord();
        font-family: $fontFamMont;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }
}

header {
    text-align: center;
    h1 {
        font-size: 40px;
        font-family: $fontFam;
    }
}

header {
    h2 {
        font-family: $fontFam;
        font-size: 80px;
    }
}

main {
    h3 {
    font-size: 45px;
    font-family: $fontFam;
    text-align: center;
    }
    p {
        font-size: 20px;
        text-align: center;
        font-family: $fontFamMont;
    }
}

.theme {
    padding: 45px;
}

img {
    @include prodImg;
    border: solid black;
    border-radius: 4px;
}
figcaption {
    display: block;
    text-align: center;
}

footer {
    padding: 5px;
    text-align: center;
    background: $footerColor;
    @include bordRadius();
    h1 {
        font-family: $fontFam;
    }
    p {
        font-family: $fontFamMont;
    }
    .contactInfo {
        display: inline;
    }
}