@import 'mixins';

@import 'colors';

// body {
//     background-color: black;
// }

nav {
    @include navBar;
    ul {
        @include uListNav;
        li {
            font-size: 75px;
            @include lItemNav;
             a {
                color: $flexBoxColorGreen;
                text-decoration: none;
            }
        }
    }
}

.jumboHeading {
    @include heading;
    @include headingImg;
    padding: 15px;
    h1 {
        color: $flexBoxColorGreen;
    }
}

.jumboHeading {
    h2 {
        color: $flexBoxColorPurple;
    }
}

.recordsSec {
    background-image: linear-gradient($flexBoxColorGreen, $flexBoxColorPurple);
    padding: 20px;
        h1 {
            color: $flexBoxColorPurple;
            font-family: $flexBoxFontHeader;
            text-shadow: 0px 0px 5px white;
            text-align: center;
            font-size: 45px;
    }
}

.recordsSec {
        h2 {
            text-align: center;
            color: $flexBoxColorGreen;
            font-family: $flexBoxFontHeader;
            font-size: 35px;
        }
}

.container-1 {
    @include flexBox;
    .card {
        @include cards;
                   img {
                        @include prodImg;
            }
        }
    }

.container-1 {
    .card {
        h1 {
            @include cardHeading;
        }
    }
}
.container-1 {
    .card {
        p {
            @include cardText;
        }
    }
}

.aboutSec {
    padding: 20px;
    background-image: linear-gradient($flexBoxColorPurple, $flexBoxColorGreen);    
    h1 {
        @include cardHeading;
        color: $flexBoxColorGreen;
    }
}

.aboutSec {
    p {
        @include cardText;
    }
}

.contactSec {
    background: $flexBoxColorGreen;
    padding: 20px;
    h1 {
        @include cardHeading;
    }
}

.contactSec {
    p {
        @include cardText;
    }
}